In [1]:
import pandas as pd

In [2]:
path = "./20170420-181200.csv"
file = pd.read_csv(path,parse_dates=['time'])

In [3]:
file.head()

,time,bikeID,bikeType,distID,distNum,distType,distY,distX,distance
0,2017-04-20 18:12:04,0216165609#,999,216165609,1,0,121.226109,31.396154,256.0
1,2017-04-20 18:12:04,0210091154#,2,210091154,1,0,121.230112,31.397899,491.0
2,2017-04-20 18:12:04,0210013703#,1,210013703,1,0,121.290971,31.394811,92.0
3,2017-04-20 18:12:04,0210042351#,1,210042351,1,0,121.290913,31.394981,105.0
4,2017-04-20 18:12:04,0216507300#,1,216507300,1,0,121.289266,31.393537,128.0

In [4]:
file.sort_values(by=['distX','distY'],axis=0,ascending=[True,True]) 
print(file.shape)

(657087, 9)

In [5]:
del file['distNum']
del file['distType']
del file['bikeID']

In [6]:
file = file.drop_duplicates(subset=['distY', 'distX'], keep='first')

In [7]:
file.sort_values(by=['distX','distY'],axis=0,ascending=[True,True]) 
print(file.shape)

(182834, 6)

In [8]:
file.head()

                 time  bikeType     distID       distY      distX  distance
0 2017-04-20 18:12:04       999  216165609  121.226109  31.396154     256.0
1 2017-04-20 18:12:04         2  210091154  121.230112  31.397899     491.0
2 2017-04-20 18:12:04         1  210013703  121.290971  31.394811      92.0
3 2017-04-20 18:12:04         1  210042351  121.290913  31.394981     105.0
4 2017-04-20 18:12:04         1  216507300  121.289266  31.393537     128.0

In [9]:
file['kValue'] = 1

In [10]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182834 entries, 0 to 657056
Data columns (total 7 columns):
time        182834 non-null datetime64[ns]
bikeType    182834 non-null int64
distID      182834 non-null int64
distY       182834 non-null float64
distX       182834 non-null float64
distance    182834 non-null float64
kValue      182834 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(3)
memory usage: 11.2 MB

In [11]:
#造一个kValue的表
#k_bike_value = pd.DataFrame(file['distID'].value_counts())

In [12]:
#kValue的值
#k_bike_value['distID'].value_counts()

In [13]:
#k_bike_value

In [14]:
#给出现次数多的单车加更多的辐射系数kValue

#for bike_index,bike_row in k_bike_value.iterrows():
#    bike_ID = bike_index
#    bike_Value = bike_row[0]
#    print(bike_Value,"->",bike_ID)
#    if bike_Value == 1:break
#    for index,row in file.iterrows():
#        if row['distID']== bike_ID:
#            row['kValue']= bike_Value

In [15]:
file['bikeType'].value_counts()

1      75697
2      66500
999    40637
Name: bikeType, dtype: int64

In [16]:
file = file.sort_values(by=['distX','distY'],axis=0,ascending=[True,True])

In [17]:
#用户倾向于用新车还是旧车（bikeType)
#新车旧车的分布
#移动车辆比较多的地方在哪里（倒入地图）
#查询点的距离与移动频次的关系

In [18]:
t = pd.read_csv('./Shanghai.csv')
t

,Unnamed: 0,Name,Street,X,Y,District,Type,Other
0,1,百里香奶油草莓基地,劳动路707弄169临,31.445123,121.312843,上海市;嘉定区,公司企业;公司企业,13738470228
1,10,EVCARD电动汽车分时租赁,亨嘉庄东南50米(徐星路西),31.474989,121.258079,上海市;嘉定区,生活服务;其它生活服务,
2,19,上海野生动物园游客服务中心,南六公路178号,31.057080,121.711432,上海市;浦东新区,休闲娱乐;旅游景点,
3,28,南汇・界浜水蜜桃基地,沔新路与申瓦路交叉口南150米,31.131025,121.638202,上海市;浦东新区,公司企业;公司企业,
4,37,阳山水蜜桃,桃浦镇真南路822弄温欣旅馆旁,31.283939,121.380621,上海市;普陀区,购物;超市,
...,...,...,...,...,...,...,...,...
242551,2182960,上海得导电子有限公司,康桥镇康沈路营房桥车站旁402号,31.131361,121.569507,上海市;浦东新区,公司企业;公司企业,13816517943
242552,2182969,育才桥,惠南育才桥,31.049047,121.761159,上海市;浦东新区,基础设施;桥,
242553,2182978,新桥镇绿化垃圾投放点,马裕路611号,31.076666,121.291279,上海市;松江区,生活服务;其它生活服务,
242554,2182987,虹桥镇治安辅助巡逻大队第三中队-西南门,程家桥路136号附近,31.186621,121.372178,上海市;闵行区,基础设施;门/出入口,
242555,2182996,农行上海长桥支行,罗香路35,31.137606,121.436727,上海市;徐汇区,银行金融;银行,021-54291762

In [19]:
t = t.drop(['Unnamed: 0'],axis = 1)

In [20]:
t

,Name,Street,X,Y,District,Type,Other
0,百里香奶油草莓基地,劳动路707弄169临,31.445123,121.312843,上海市;嘉定区,公司企业;公司企业,13738470228
1,EVCARD电动汽车分时租赁,亨嘉庄东南50米(徐星路西),31.474989,121.258079,上海市;嘉定区,生活服务;其它生活服务,
2,上海野生动物园游客服务中心,南六公路178号,31.057080,121.711432,上海市;浦东新区,休闲娱乐;旅游景点,
3,南汇・界浜水蜜桃基地,沔新路与申瓦路交叉口南150米,31.131025,121.638202,上海市;浦东新区,公司企业;公司企业,
4,阳山水蜜桃,桃浦镇真南路822弄温欣旅馆旁,31.283939,121.380621,上海市;普陀区,购物;超市,
...,...,...,...,...,...,...,...
242551,上海得导电子有限公司,康桥镇康沈路营房桥车站旁402号,31.131361,121.569507,上海市;浦东新区,公司企业;公司企业,13816517943
242552,育才桥,惠南育才桥,31.049047,121.761159,上海市;浦东新区,基础设施;桥,
242553,新桥镇绿化垃圾投放点,马裕路611号,31.076666,121.291279,上海市;松江区,生活服务;其它生活服务,
242554,虹桥镇治安辅助巡逻大队第三中队-西南门,程家桥路136号附近,31.186621,121.372178,上海市;闵行区,基础设施;门/出入口,
242555,农行上海长桥支行,罗香路35,31.137606,121.436727,上海市;徐汇区,银行金融;银行,021-54291762

In [21]:
path_2 = './newShanghai.csv'
Shanghai = pd.read_csv(path_2)

In [22]:
Shanghai.head()

   Unnamed: 0          X           Y  District         Type
0           0  31.445123  121.312843   上海市;嘉定区    公司企业;公司企业
1           1  31.474989  121.258079   上海市;嘉定区  生活服务;其它生活服务
2           2  31.057080  121.711432  上海市;浦东新区    休闲娱乐;旅游景点
3           3  31.131025  121.638202  上海市;浦东新区    公司企业;公司企业
4           4  31.283939  121.380621   上海市;普陀区        购物;超市

In [23]:
Shanghai.columns=['index','X','Y','District','Type']

In [24]:
Shanghai.sort_values(by=['X','Y'],axis=0,ascending=[True,True])

         index          X           Y District         Type
156922  164922  29.745871  122.117648  上海市;普陀区    机构团体;政府机关
156857  164846  29.948114  122.280231  上海市;普陀区    机构团体;政府机关
162060  171291  29.949027  122.298712  上海市;普陀区      教育学校;培训
153522  159562  29.958009  122.308792  上海市;普陀区   机构团体;公检法机构
122516  124636  29.971783  122.311835  上海市;普陀区      购物;数码家电
...        ...        ...         ...      ...          ...
118460  120306  31.841814  121.275150  上海市;崇明区    公司企业;公司企业
194714  204786  31.842071  121.285703  上海市;崇明区    公司企业;公司企业
13716    13730  31.844245  121.226977  上海市;崇明区  地名地址;其它地名地址
117722  119456  31.844607  121.288728  上海市;崇明区      基础设施;路口
153080  158326  31.848173  121.276787  上海市;崇明区      生活服务;丧葬

[231573 rows x 5 columns]

In [25]:
Shanghai['rValue'] = 0
Shanghai['rRange'] = 0

In [26]:
file.tail()

,time,bikeType,distID,distY,distX,distance,kValue
1363,2017-04-20 18:12:29,2,216132057,121.307772,31.403890,1140.0,1
4739,2017-04-20 18:12:53,999,210052478,121.177944,31.404016,1312.0,1
4741,2017-04-20 18:12:53,999,216563116,121.177939,31.404112,1321.0,1
6210,2017-04-20 18:13:01,1,210031403,121.505985,31.404210,1277.0,1
4736,2017-04-20 18:12:53,2,216120015,121.176598,31.404256,1271.0,1

In [27]:
Shanghai.loc[(Shanghai['X']>31)&(Shanghai['X']<31.1), :]

         index          X           Y  District         Type  rValue  rRange
2            2  31.057080  121.711432  上海市;浦东新区    休闲娱乐;旅游景点       0       0
6            6  31.022801  121.658286  上海市;浦东新区    休闲娱乐;户外活动       0       0
19          19  31.077334  121.493535   上海市;闵行区      购物;母婴儿童       0       0
20          20  31.045096  121.467026   上海市;闵行区      购物;服饰鞋包       0       0
80          80  31.011458  121.306714   上海市;松江区  休闲娱乐;其它娱乐休闲       0       0
...        ...        ...         ...       ...          ...     ...     ...
231558  242541  31.065968  121.294185   上海市;松江区    公司企业;公司企业       0       0
231559  242542  31.052410  121.275926   上海市;松江区    公司企业;公司企业       0       0
231560  242543  31.065198  121.316976   上海市;松江区    基础设施;公共厕所       0       0
231569  242552  31.049047  121.761159  上海市;浦东新区       基础设施;桥       0       0
231570  242553  31.076666  121.291279   上海市;松江区  生活服务;其它生活服务       0       0

[23383 rows x 7 columns]

In [28]:
Shanghai.loc[Shanghai['index']==2,'rValue']=0

In [29]:
Shanghai.loc[(Shanghai['X']>31)&(Shanghai['X']<31.1), :]

         index          X           Y  District         Type  rValue  rRange
2            2  31.057080  121.711432  上海市;浦东新区    休闲娱乐;旅游景点       0       0
6            6  31.022801  121.658286  上海市;浦东新区    休闲娱乐;户外活动       0       0
19          19  31.077334  121.493535   上海市;闵行区      购物;母婴儿童       0       0
20          20  31.045096  121.467026   上海市;闵行区      购物;服饰鞋包       0       0
80          80  31.011458  121.306714   上海市;松江区  休闲娱乐;其它娱乐休闲       0       0
...        ...        ...         ...       ...          ...     ...     ...
231558  242541  31.065968  121.294185   上海市;松江区    公司企业;公司企业       0       0
231559  242542  31.052410  121.275926   上海市;松江区    公司企业;公司企业       0       0
231560  242543  31.065198  121.316976   上海市;松江区    基础设施;公共厕所       0       0
231569  242552  31.049047  121.761159  上海市;浦东新区       基础设施;桥       0       0
231570  242553  31.076666  121.291279   上海市;松江区  生活服务;其它生活服务       0       0

[23383 rows x 7 columns]

In [30]:
file.shape

(182834, 7)

In [31]:
pace = 0.001
i=0;
k=0;
for bike_index,bike_row in file.iterrows():
    #print("new bike")
    if i==1000:
        k+=1
        print("mission complete:",k*100000/182834,"%")
        i=0
    startX = round(bike_row['distX'] - pace,6)
    startY = round(bike_row['distY'] - pace,6)
    endX = round(bike_row['distX'] + pace,6)
    endY = round(bike_row['distY'] + pace,6)
    #print(startX,endX)
    #print(startY,endY)
    #弄出单车辐射范围内的地点spot
    spotInBikeCircle = Shanghai.loc[(Shanghai['X']>=startX)&(Shanghai['X']<=endX)&(Shanghai['Y']>=startY)&(Shanghai['Y']<=endY), :]
    if spotInBikeCircle.size != 0:
        #print(spotInBikeCircle)
        
        for spot_index,spot_row in spotInBikeCircle.iterrows():
            
            Shanghai.loc[Shanghai['index']==spot_row['index'],'rValue']+=1
            t_range = round(((bike_row['distX']-spot_row['X'])**2 + (bike_row['distY']-spot_row['Y'])**2)**0.5,4)
            #print(t_range)
            if t_range>spot_row['rRange']:
                Shanghai.loc[Shanghai['index']==spot_row['index'],'rRange'] = t_range
            
        #print("--------------------")
        
    i+=1

mission complete: 0.5469442226281763 %
mission complete: 1.0938884452563526 %
mission complete: 1.640832667884529 %
mission complete: 2.1877768905127053 %
mission complete: 2.734721113140882 %
mission complete: 3.281665335769058 %
mission complete: 3.828609558397235 %
mission complete: 4.375553781025411 %
mission complete: 4.922498003653588 %
mission complete: 5.469442226281764 %
mission complete: 6.01638644890994 %
mission complete: 6.563330671538116 %
mission complete: 7.1102748941662925 %
mission complete: 7.65721911679447 %
mission complete: 8.204163339422646 %
mission complete: 8.751107562050821 %
mission complete: 9.298051784678998 %
mission complete: 9.844996007307175 %
mission complete: 10.39194022993535 %
mission complete: 10.938884452563528 %
mission complete: 11.485828675191703 %
mission complete: 12.03277289781988 %
mission complete: 12.579717120448057 %
mission complete: 13.126661343076233 %
mission complete: 13.67360556570441 %
mission complete: 14.220549788332585 %
mission complete: 14.767494010960762 %
mission complete: 15.31443823358894 %
mission complete: 15.861382456217115 %
mission complete: 16.40832667884529 %
mission complete: 16.95527090147347 %
mission complete: 17.502215124101642 %
mission complete: 18.04915934672982 %
mission complete: 18.596103569357997 %
mission complete: 19.143047791986174 %
mission complete: 19.68999201461435 %
mission complete: 20.236936237242524 %
mission complete: 20.7838804598707 %
mission complete: 21.33082468249888 %
mission complete: 21.877768905127056 %
mission complete: 22.424713127755233 %
mission complete: 22.971657350383406 %
mission complete: 23.518601573011583 %
mission complete: 24.06554579563976 %
mission complete: 24.612490018267938 %
mission complete: 25.159434240896115 %
mission complete: 25.70637846352429 %
mission complete: 26.253322686152465 %
mission complete: 26.800266908780642 %
mission complete: 27.34721113140882 %
mission complete: 27.894155354036997 %
mission complete: 28.44109957666517 %
mission complete: 28.988043799293347 %
mission complete: 29.534988021921524 %
mission complete: 30.0819322445497 %
mission complete: 30.62887646717788 %
mission complete: 31.175820689806052 %
mission complete: 31.72276491243423 %
mission complete: 32.269709135062406 %
mission complete: 32.81665335769058 %
mission complete: 33.36359758031876 %
mission complete: 33.91054180294694 %
mission complete: 34.457486025575115 %
mission complete: 35.004430248203285 %
mission complete: 35.55137447083146 %
mission complete: 36.09831869345964 %
mission complete: 36.645262916087816 %
mission complete: 37.19220713871599 %
mission complete: 37.73915136134417 %
mission complete: 38.28609558397235 %
mission complete: 38.833039806600524 %
mission complete: 39.3799840292287 %
mission complete: 39.92692825185688 %
mission complete: 40.47387247448505 %
mission complete: 41.020816697113226 %
mission complete: 41.5677609197414 %
mission complete: 42.11470514236958 %
mission complete: 42.66164936499776 %
mission complete: 43.208593587625934 %
mission complete: 43.75553781025411 %
mission complete: 44.30248203288229 %
mission complete: 44.849426255510465 %
mission complete: 45.39637047813864 %
mission complete: 45.94331470076681 %
mission complete: 46.49025892339499 %
mission complete: 47.03720314602317 %
mission complete: 47.584147368651344 %
mission complete: 48.13109159127952 %
mission complete: 48.6780358139077 %
mission complete: 49.224980036535875 %
mission complete: 49.77192425916405 %
mission complete: 50.31886848179223 %
mission complete: 50.86581270442041 %
mission complete: 51.41275692704858 %
mission complete: 51.959701149676754 %
mission complete: 52.50664537230493 %
mission complete: 53.05358959493311 %
mission complete: 53.600533817561285 %
mission complete: 54.14747804018946 %
mission complete: 54.69442226281764 %
mission complete: 55.241366485445816 %
mission complete: 55.78831070807399 %
mission complete: 56.33525493070217 %
mission complete: 56.88219915333034 %
mission complete: 57.42914337595852 %
mission complete: 57.976087598586695 %
mission complete: 58.52303182121487 %
mission complete: 59.06997604384305 %
mission complete: 59.616920266471226 %
mission complete: 60.1638644890994 %
mission complete: 60.71080871172758 %
mission complete: 61.25775293435576 %
mission complete: 61.804697156983934 %
mission complete: 62.351641379612104 %
mission complete: 62.89858560224028 %
mission complete: 63.44552982486846 %
mission complete: 63.992474047496636 %
mission complete: 64.53941827012481 %
mission complete: 65.08636249275298 %
mission complete: 65.63330671538117 %
mission complete: 66.18025093800934 %
mission complete: 66.72719516063752 %
mission complete: 67.27413938326569 %
mission complete: 67.82108360589388 %
mission complete: 68.36802782852205 %
mission complete: 68.91497205115023 %
mission complete: 69.4619162737784 %
mission complete: 70.00886049640657 %
mission complete: 70.55580471903475 %
mission complete: 71.10274894166292 %
mission complete: 71.64969316429111 %
mission complete: 72.19663738691928 %
mission complete: 72.74358160954746 %
mission complete: 73.29052583217563 %
mission complete: 73.83747005480382 %
mission complete: 74.38441427743199 %
mission complete: 74.93135850006017 %
mission complete: 75.47830272268834 %
mission complete: 76.02524694531651 %
mission complete: 76.5721911679447 %
mission complete: 77.11913539057286 %
mission complete: 77.66607961320105 %
mission complete: 78.21302383582922 %
mission complete: 78.7599680584574 %
mission complete: 79.30691228108557 %
mission complete: 79.85385650371376 %
mission complete: 80.40080072634193 %
mission complete: 80.9477449489701 %
mission complete: 81.49468917159828 %
mission complete: 82.04163339422645 %
mission complete: 82.58857761685464 %
mission complete: 83.1355218394828 %
mission complete: 83.68246606211099 %
mission complete: 84.22941028473916 %
mission complete: 84.77635450736734 %
mission complete: 85.32329872999551 %
mission complete: 85.8702429526237 %
mission complete: 86.41718717525187 %
mission complete: 86.96413139788004 %
mission complete: 87.51107562050822 %
mission complete: 88.05801984313639 %
mission complete: 88.60496406576458 %
mission complete: 89.15190828839275 %
mission complete: 89.69885251102093 %
mission complete: 90.2457967336491 %
mission complete: 90.79274095627729 %
mission complete: 91.33968517890546 %
mission complete: 91.88662940153363 %
mission complete: 92.43357362416181 %
mission complete: 92.98051784678998 %
mission complete: 93.52746206941816 %
mission complete: 94.07440629204633 %
mission complete: 94.62135051467452 %
mission complete: 95.16829473730269 %
mission complete: 95.71523895993087 %
mission complete: 96.26218318255904 %
mission complete: 96.80912740518721 %
mission complete: 97.3560716278154 %
mission complete: 97.90301585044357 %
mission complete: 98.44996007307175 %
mission complete: 98.99690429569992 %
mission complete: 99.5438485183281 %

In [32]:
Shanghai['rValue'].value_counts()

0     73506
1     19410
2     15102
3     13072
4     11203
      ...
61        2
56        2
59        2
72        1
99        1
Name: rValue, Length: 63, dtype: int64

In [33]:
Shanghai['rRange'].value_counts()

0.0000    73537
0.0011    31795
0.0010    31561
0.0012    29881
0.0013    21364
0.0009    15681
0.0008     8516
0.0007     5214
0.0014     4914
0.0006     3467
0.0005     2395
0.0004     1471
0.0003      985
0.0002      558
0.0001      234
Name: rRange, dtype: int64

In [34]:
#for index,row in Shanghai.iterrows():
    #row['rRange'] = 0.00001*row['rValue']

In [35]:
Shanghai.to_csv("./Shanghai_With_R.csv")